# /etc/appaserver.config
# ----------------------
[client]
password=secret
[other]
mysql_user=appaserver
appaserver_mount_point=/var/appaserver
log_directory=/var/log/appaserver
data_directory=/var/appaserver_data
upload_directory=/var/appaserver_upload
backup_directory=/var/backups/appaserver
document_root=/var/www/html
cgi_home=/usr/lib/cgi-bin
mysql_flags=-Nr -f
mysql_host=
mysql_tcp_port=
apache_cgi_directory=/cgi-bin
