# $APPASERVER_HOME/src_template/csvdump_template.config
# -------------------------------------------------------------
# This is the template parameter file for csvdump_database.sh
# -------------------------------------------------------------
# son = daily
# father = Sunday
# grandfather = first of the month
# greatgrandfather = January 1 and July 1
# greatgreatgrandfather = January 1
# =============================================================
processes_in_parallel=10

directory_root=/var/www/html/backuptemplate
output_directory=son
father_directory=father
grandfather_directory=grandfather
greatgrandfather_directory=greatgrandfather
greatgreatgrandfather_directory=greatgreatgrandfather

son_keep_days=14
father_keep_days=31
grandfather_keep_days=185
greatgrandfather_keep_days=1100
greatgreatgrandfather_keep_days=1830
