# $APPASERVER_HOME/template/mysqldump_template.config
# ---------------------------------------------------------------------------
# This is the template parameter file for mysqldump_appaserver.
# ---------------------------------------------------------------------------
# Copy this to /var/backups/appaserver/mysqldump_$database.config
# ---------------------------------------------------------------------------
#
# Usage: mysqldump_appaserver mysqldump_$database.config
#
# $APPASERVER_HOME/utility/mysqldump_all.sh automatically picks up this file.
# ---------------------------------------------------------------------------
# son = daily
# father = Sunday
# grandfather = first of the month
# greatgrandfather = January, April, July, and October 1
# greatgreatgrandfather = January 1
# ===========================================================================

database=change_me
parallel_count=10

# These tables will have their own $table_$date.sql.gz files.
# Also, only one insert statement for all the rows is created.
# Restores go relatively faster, but grep-ability requires
# the backup file to first be filtered through
# $APPASERVER_HOME/utility/mysqldump_block_insert_separate.sh
# ------------------------------------------------------------
separate_block_table_list=

# These tables will have their own $table_$date.sql.gz files.
# Also, each insert statement will be on its own line.
# -----------------------------------------------------------
separate_line_table_list=

# These tables will be excluded.
# ------------------------------
exclude_table_list=

each_line_insert=yes

# If an additional rsync of the son directory to $URL takes place.
# URL=$host:/var/backups/appaserver/$database/son/
# ------------------------------------------------------------------
#offsite_rsync_destination=URL

# If an additional rsync of the latest tar file to $URL takes place.
# ------------------------------------------------------------------
#offsite_scp_destination=URL

