# $APPASERVER_HOME/src_template/mysqldump_template.config
# ----------------------------------------------------------------
# This is the template parameter file for mysqldump_database.sh
# ----------------------------------------------------------------
# Copy this to /var/backups/appaserver/mysqldump_$database.config
# ----------------------------------------------------------------
#
# Usage: mysqldump_database.sh mysqldump_$database.config
#
# Note:
# $APPASERVER_HOME/src_appaserver/appaserver_mysqldump_database.sh
# automatically picks up this file when executed.
# ----------------------------------------------------------------
# son = daily
# father = Sunday
# grandfather = first of the month
# greatgrandfather = January, April, July, and October 1
# greatgreatgrandfather = January 1
# ================================================================

database=template
processes_in_parallel=10

# These tables will have their own $table_$date.sql.gz files
# ----------------------------------------------------------
big_table_list=

# These tables will be excluded
# -----------------------------
exclude_table_list=

# If set to no, then restores go much quicker, but grep-ability is gone.
# ----------------------------------------------------------------------
each_line_insert=yes

# This might become /etc/appaserver_$database.config
# --------------------------------------------------
appaserver_config=/etc/appaserver.config

# Change this to /var/backups/appaserver/$database
# ------------------------------------------------
directory_root=/var/backups/appaserver/template

output_directory=son
father_directory=father
grandfather_directory=grandfather
greatgrandfather_directory=greatgrandfather
greatgreatgrandfather_directory=greatgreatgrandfather

son_keep_days=14
father_keep_days=31
grandfather_keep_days=185
greatgrandfather_keep_days=1100
greatgreatgrandfather_keep_days=1830

# If an additional rsync $destination takes place.
#
# $URL:/var/backups/appaserver/$database/son
# ------------------------------------------------
offsite_rsync_destination=

