/* Copyright Dynarch.com, 2003-2005.  All Rights Reserved. */

@import url("hmenu.css");

div.dynarch-horiz-menu { background-color: #f0f0f0; color: #decb87; border-color: #000; }
div.dynarch-horiz-menu table { color: #decb87; }
div.dynarch-horiz-menu table tr td.hover { background-color: #decb87; color: #f0f0f0; }
div.dynarch-horiz-menu table tr td.active { background-color: #decb87; color: #f0f0f0; }
div.dynarch-horiz-menu table tr td.hover table,
div.dynarch-horiz-menu table tr td.active table { color: #f0f0f0; }
div.dynarch-horiz-menu table tr td.separator div { border-right-color: #ffc; border-left-color: #cc5; margin-right: 3px; }

div.dynarch-popup-menu { background-color: #f0f0f0; padding: 0; color: #decb87; }
div.dynarch-popup-menu tr.item.hover { background-color: #decb87; color: #ff8; }
div.dynarch-popup-menu tr.item.active { background-color: #decb87; color: #fff; }
div.dynarch-popup-menu tr.separator td div { background: #cc5; }
